.h {
  text-align: center;
  text-shadow: 2px 2px 5px red;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
 }
.container-image {
  max-width: 100%;
  /* max-width: 800px; */
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.image {
  flex: 1;
  order: 2; /* Change order to 1 for image to be on the left */
  margin: 10px;
  overflow: hidden;
}

.image img {
  width: 50%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  float: right;
}

.description {
  flex: 1;
  order: 1; /* Change order to 2 for image to be on the left */
  margin: 10px;
  color: blueviolet;
  text-align: center;
  
}
 /* .image-container {
  background-color: green !important;
  overflow: hidden;
  float: right;
  color: black;
  text-align: left;
  font-family: "Lucida Console", "Courier New", monospace;
} */

.text {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  flex: 1;
  margin: 10px;
  overflow: hidden;
}

.column img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
