body {
    
    
    padding-top: 50px;
    padding-right: 30px;
     padding-bottom: 50px;
    padding-left: 80px;
  }
  .reaPic{
    float: left;
    margin-left: 40%;
  }

.reaDesc{
  float: left;
  top: -30%;
}
  h1 {
    color: rgb(27, 231, 105);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align:left;
  }
    


  p {
    color: rgb(8, 8, 8);
    font-family: Italic;
    font-size: 20px;
    text-align: center;
  }


 .testDiv{
  width: 100px;
  height: 100px;
  background-color: skyblue;
 }

 #testId{
  width: 300px;
  height: 300px;
  backgrp.dashed {border-style: dashed;}ound-color: green;
 }

 {
  .testDiv
  p.dashed {border-style: dashed;}
 }